NODE_ENV="environment"

#databases
DATABASE_URL="database_url"

#mail sender
SMTP_USER="email"
SMTP_PASS="password"

#Bunny CDN
BUNNY_STORAGE_ZONE="storage_zone"
BUNNY_API_KEY="key"
BUNNY_CDN_HOST="host_url"
BUNNY_BASE_HOSTNAME="base_hostname"